* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden; /* Remove a barra de rolagem */
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 71, 214);
    height: 8vh;
    
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.cgas {
    display: flex;
    background-color: #d3d3d3;
    align-items: center;
    justify-content: space-evenly;
    height: 75vh;
    
}

.acab {
    margin-top: 20px;
    width: 550px;
    
}

.acab h1 {
    font-size: 60px;
    font-weight: 600;
}

.acab h2 {
    font-size: 40px;
    margin-top: 20px;
}

.acab p {
    font-size: 24px;
    margin-top: 20px;
}

.horarios {
    background-color: rgb(4, 71, 214); 
    color: white;
    padding: 30px 10px;
    text-align: center;
    height: 12vh;
}

.horarios h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.horario-grid {
    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap; 
}

.horario-grid div {
    text-align: center;
    margin: 10px;
}

.horario-grid h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.horario-grid p {
    font-size: 1em;
}


